body {
    background-color: grey;
}

.heading {
    display: flex;
    justify-content: center;
}

.main-area {
    display: flex;
    justify-content: center;
    outline: none;
    margin: 1rem;
    padding: 1rem;
}

.pick {
    max-height: 150px;
    width: auto;
}

.scores {
    display: block;
    font-size: 1rem;
}

.player .computer {
    font-size: 0.2rem;
}

.selection {
    opacity: .5;
}

.selection.winner {
    font-size: 2rem;
    opacity: 5;
}

.game {
    margin: auto;
    justify-content: center;
    width: 700px;
}