body {
    background-color: grey;
}

.heading {
    display: flex;
    justify-content: center;
}

.main-area {
    display: flex;
    justify-content: center;
    outline: none;
    margin: 1rem;
    padding: 1rem;
}

.rock {
    max-height: 100%;
    width: auto;
}

.scores {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    font-size: 1rem;
}

.player .computer {
    font-size: 0.2rem;
}

.selection {
    opacity: .5;
}

.selection.winner {
    font-size: 2rem;
    opacity: 5;
}