body {
    background-color: grey;
}

.heading {
    display: flex;
    justify-content: center;
}

.main-area {
    display: inline-block;
    justify-content: center;
    padding: 2rem;
    margin: 50px auto;

}

img {
   
    width: 700px;
}

.pick {
    max-height: 150px;
    width: auto;
}


.scores {
    display: grid;
    font-size: 1rem;
    grid-template-columns: repeat(2, 1fr);
    width: 50%;
    padding: 1.5rem;
    margin: 40px auto;
    font-weight: bold;
    font-family: prada;
    font-size: 1.5rem;
    border: 2px solid;
    border-radius: 5px;
}

.game {
    margin: auto;
    justify-content: center;
    width: 700px;
}

#message {
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
}
